
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@mediaqueary{
    .maincontainer{
        
    }
}
*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*navbar*/
.navbar{
    animation: navbar 1s ease-in-out;
}
@keyframes navbar{
    0%{
        transform: translateY(-100%);
    }
}
.navbar-nav{
    text-align: end;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    background-color: black;
    color: white;
    transition: .1s;
}
/* about*/
.about{
    animation: about 1s ease-in-out;
}
@keyframes about{
    0%{
        opacity: 0;
        transform: translateX(-50%);

    }

}
.and{
    color: red;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*skills*/

/* projects*/
.project-title{
    color: red;
}
/*details*/
.details{
    background-color: black;
}
.details-items{
    list-style: none;
    color: black;
    font-size: 25px;
}
.details-items a{
    text-decoration: none;
}
.profileimg{
    display: none;
}
@media(min-width:576px){
    .profileimg{
        display:none;
    }

}
@media(min-width:768px){
     .profileimg{
        display: flex;
    }
    
}